body {
    background-color: #d2e4f4;
    color: #40476a;
    text-align: center;
    align-items: center;
    cursor: url(dogcursor.cur), auto;
}

a {
    cursor: url(catcursor.cur), auto;
}

button {
    cursor: url(dogcursor.cur), auto;
}